.post {
    position: relative;
    width:150px;
    padding:15px 20px;
    border:1ps solid black;
    border-radius: 5px;
    background-color: rgb(83, 39, 18);
}
.post>i{
    width: 20px;
    height: 20px;
    position: absolute;
   
    right: 5px;
    color: white;
    cursor:pointer;
}
.pencilIcon{
    bottom: 5px;
}
.tiimesIcon{
    top: 5px;
}
.post>h4 {
    color:white;
    font-size: 25px;
    font-weight: bold;

}
.post>p {
    color:white;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}